.carousel-content {
    width: 100%;
    display: flex;
    border-radius: 1em;
    overflow-x: hidden;
    margin-bottom: 3em;
    filter: drop-shadow(6px 5px 10px var(--primary-color));
}

.carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

.carousel-card {
    aspect-ratio: 4/3;
    background-color: coral;
    flex: 0 0 30vw;
    object-fit: cover;
    max-height: 420px;
}

@keyframes spin {
    to {translate: 0;}
    from {translate: -100%;}
}
