.hero-section {
    width: 100vw;
    position: relative;
    background-size: cover;
    min-height: 100vh;
}

.hero-section img {
    object-fit: cover;
    position: absolute;
    filter: brightness(0.2);
    height: 100%;
    width: 100%;
}

.hero-content {
    min-height: 100vh;
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 0 2em;
}

.hero-section-maintance {
    color: #fff;
    text-align: center;
}

.hero-section-title {
    color: var(--accent-color-light);
    display: inline-block;
    text-transform: uppercase;
    float: left;
    text-align: center;
    margin-top: 2em;
}

.hero-section-title h2 {
    float: left;
}

.hero-section-title svg {
    fill: var(--accent-color-light);
    float: left;
}

.hero-section-events {
    display: flex;
    flex-direction: row;
    fill: var(--accent-color-light);
    gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-section-event p{
  margin: 0;
  font-size: large;
  font-weight: bold;
}

.hero-section-event {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    min-width: 260px;
}

.hero-section-event svg {
    text-align: center;
    width: 3em;
    height: 3em;
    padding: 4px;
}

.hero-section-event {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2em;
    padding: 0.5em;
}









