/* Media queries */
 @media (max-width: 480px) {
    .schedule-container .tabs {
        flex-direction: column;
    }

    .section {
        padding: 4em 1em;
    }
}

@media (min-width: 480px) {
    .schedule-container .tabs {
        flex-direction: column;
    }

    .schedule-container .tab:nth-child(1) {
        border-radius: 1em 1em 0em 0em;
    }

    .schedule-container .tab:nth-child(3) {
        border-radius: 0em 0em 1em 1em;
    }

    .section {
        padding: 4em 1em;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    }
}


@media (max-width: 768px) {
    .cta-button {
        padding: 1em;
        font-size: var(--font-size-lg)
    }

    .event-details>h3 {
        font-size: var(--font-size-lg)
    }

    .events-item {
        width: 100%;
    }

    /* atractions */
    .timeline-container::after {
        left: 31px;
    }

    .timeline-container-item {
        width: 100%;
        padding-left: 100px;
        padding-right: 25px;
    }

    .item-right-container {
        left: 0%
    }

    .timeline-container-item svg {
        left: 8px
    }

    .left-container-arrow {
        left: -14px;
        border-right: 15px solid var(--text-color);
        border-left:none;
    }

    .footer-social {
        margin-bottom: 2em;
    }
}

@media (min-width: 768px) {
    .event-details>h3 {
        font-size:var(--font-size-2xl)
    }

    .section {
        padding: 4em 4em;
    }

    .schedule-container .tabs {
        flex-direction: row;
    }

    .schedule-container .tab:nth-child(1) {
        border-radius: 2em 0 0 2em;
    }

    .schedule-container .tab:nth-child(3) {
        border-radius: 0 2em 2em 0;
    }

    .footer-content {
        flex-direction: row;
    }

    .footer-content>div {
        padding: 1em 2em;
    }

    .navbar-logo p {
        display: none;
    }
}

@media (min-width: 1024px) {
    .navbar-logo p {
        display: block;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}