/* Stylowanie listy ćwiczeń */
.exercise-section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 1920px;
}

.exercise-list {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.exercise-list a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
}

.exercise-list a:hover {
    text-decoration: underline;
}

.exercise-list li {
    font-weight: bold;
    width: auto;
}
  
/* Ćwiczenie 1 - Artykuł */    
.article-title {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}
    
.article-author {
    color: cornflowerblue;
    font-weight: bold;
    margin: 10px 0;
}
    
.article-content {
    line-height: 1.6;
    margin-bottom: 20px;
    display: block;
}
    
.article-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Ćwiczenie 2 - Tabela produktów */
.table-container {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table tr td:nth-child(1),
.product-table tr th:nth-child(1) {
    text-align: center;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    text-transform: capitalize;
}

.product-table th {
    background-color: cornflowerblue;
    color: #fff;
    font-weight: bold;
}

.product-table tr:nth-child(even) {
    background-color: #f1f1f1;
}

.product-table tr:hover {
    background-color: #e1e1e1;
}

/* Ćwiczenie 3 - kolorowe kwadraty */
.squares-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.squares-container h1 {
    margin: 20px auto;;

}

.squares-row {
    display: flex;
    margin: 1em auto;
    gap: 1em;
    justify-content: flex-start;
}

.square {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

/* to center squares */
.square:last-child {
    margin-right: 0;
}

.square-1 {
    background-color: #3498db;
}

.square-2 {
    background-color: #e74c3c;
}

.square-3 {
    background-color: #2ecc71;
}

.square-4 {
    background-color: #f39c12;
}

.square-5 {
    background-color: #9b59b6;
}

.square-image {
    object-fit: cover;
}

/* Stylowanie linków nawigacyjnych */
.nav-link {
    cursor: pointer;
}

.back-link {
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 6em;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-link:hover {
    background-color: rgb(69, 112, 190);
}